# Ignore pycache
__pycache__/
data/
# Ignore the virtual environment
venv/
```
# ignore all .pyc files
*.pyc

# Ignore the data
data/
```

# ignore weights
weights/

# ignore logs
logs/

meo.py

.idea/